<h2>This is the home page of the site!</h2>



<h4>Search for stuff</h4>

<form action="/" method="GET">
  <label
  for each="search=term">Search by Title</label>
  <input type="text" id="search-term" name="term">
  <input type="submit">

</form>